:11435 {
    @no_auth {
        not header X-Api-Key "{$AUTH_KEY_1}"
        not header X-Api-Key "{$AUTH_KEY_2}"
        not header X-Api-Key "{$AUTH_KEY_3}"
        not header X-Api-Key "{$AUTH_KEY_4}"
        not header X-Api-Key "{$AUTH_KEY_5}"
    }
    respond @no_auth "Unauthorized" 401
    reverse_proxy 127.0.0.1:11434
}